/*-- scss:defaults --*/

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://umaec.umich.edu/wp-content/uploads/2013/10/030630_fordpreferred.jpg");
  background-size: 100% 100%;
  background-opacity: .1;
  opacity: .1
}
