.quarto-title-block .quarto-title-banner {
  background-image: url(logo.png);
  background-size: 200px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 1px;
  background-origin: content-box;
}

