/*-- scss:defaults --*/

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2022/01/1200/675/Constitution.jpg");
  background-size: 100% 100%;
  background-opacity: .1;
  opacity: .1
}
